<div class="container">
  <%= form_for [@user, @workout] do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :name, "Workout Name" %>
    <%= f.text_field :name %>
    <%= f.label :number_weeks, "Number of Weeks" %>
    <%= f.number_field :number_weeks %>
    <%= f.submit "Create Workout" %>
  <% end %>
</div>