<% provide(:title, "#{@user.username} - Edit") %>
<div class="container">
  <h1><%= @user.username %></h1>
  <% case @user.level %>
    <% when "n00b" %>
      <%= image_tag("rogers.jpg", class: "profile-pic") %>
    <% when "Beginner" %>
      <%= image_tag("pegg.jpg", class: "profile-pic") %>
    <% when "Intermediate" %>
      <%= image_tag("pitt.jpg", class: "profile-pic") %>
    <% when "Advanced" %>
      <%= image_tag("The-Rock.jpeg", class: "profile-pic") %>
    <% when "Arnold" %>
      <%= image_tag("arnold.jpg", class: "profile-pic") %>
  <% end %>
  <%= form_for @user do |f| %>
    <%= f.label :username, "Username" %>
    <%= f.text_field :username, placeholder: @user.username %>
    <%= f.label :email, "Email" %>
    <%= f.text_field :email, placeholder: @user.email %>
    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
    <div id="edit-height">
      <%= f.label :height_feet, "Height" %>
      <%= f.number_field :height_feet, 
                         placeholder: @user.height_feet,
                         min: 3,
                         max: 7,
                         class: "numerical" %>
      <p>Ft</p>
      <!-- <%= f.label :height_inches, "Height (Inches)" %> -->
      <%= f.number_field :height_inches,
                         placeholder: @user.height_inches,
                         min: 0,
                         max: 11,
                         class: "numerical" %>
      <p>In</p>
    </div>
    <div id="edit-max">
    <%= f.label :weight, "Weight", id: "weight-label" %>
    <%= f.text_field :weight,
                     placeholder: @user.weight,
                     class: "numerical" %>
      <%= f.label :max_bench, "Bench Max" %>
      <%= f.number_field :max_bench,
                         step: 2.5,
                         placeholder: @user.max_bench,
                         class: "numerical" %>
      <%= f.label :max_squat, "Squat Max" %>
      <%= f.number_field :max_squat,
                         step: 2.5,
                         placeholder: @user.max_squat,
                         class: "numerical" %>
      <%= f.label :max_deadlift, "Deadlift Max" %>
      <%= f.number_field :max_deadlift,
                         step: 2.5,
                         placeholder: @user.max_deadlift,
                         class: "numerical" %>
    </div>
    <%= f.submit "Save Changes", id: "save-changes" %>
    <%= link_to "Delete Account", @user, method: :delete, 
                                         id: "delete-link",
                                         data: { confirm: "Are you sure?" } %>
  <% end %>
</div>