<% provide(:title, @user.username) %>
<div class="container">
  <h1 id="profile-header"><%= @user.username %></h1>
  <% if @user == current_user %>
    <%= link_to "Edit Profile", edit_user_path(@user), id: "edit_user_link" %>
  <% end %>
  <% case @user.level %>
    <% when "n00b" %>
      <%= image_tag("rogers.jpg", class: "profile-pic") %>
    <% when "Beginner" %>
      <%= image_tag("pegg.jpg", class: "profile-pic") %>
    <% when "Intermediate" %>
      <%= image_tag("pitt.jpg", class: "profile-pic") %>
    <% when "Advanced" %>
      <%= image_tag("The-Rock.jpeg", class: "profile-pic") %>
    <% when "Arnold" %>
      <%= image_tag("arnold.jpg", class: "profile-pic") %>
  <% end %>
  <h3>Height: <%= @user.height_feet %>' <%= @user.height_inches %>"</h3>
  <h3>Weight: <%= @user.weight %> lbs</h3>
  <% if @user.max_bench %>
    <h3>Bench Max: <%= @user.max_bench %> lbs</h3>
  <% else %>
    <h3>Bench Max: N/A</h3>
  <% end %>
  <% if @user.max_squat %>
    <h3>Squat Max: <%= @user.max_squat %> lbs</h3>
  <% else %>
    <h3>Squat Max: N/A</h3>
  <% end %>
  <% if @user.max_deadlift %>
    <h3>Deadlift Max: <%= @user.max_deadlift %> lbs</h3>
  <% else %>
    <h3>Deadlift Max: N/A</h3>
  <% end %>
  <h3>Workouts:</h3>
  <ul id="workout-list">
    <% @user.workouts.each do |workout| %>
      <li><%= link_to workout.name, user_workout_path(@user, workout) %></li>
    <% end %>
  </ul>
  <%= link_to "Add Workout", new_user_workout_path(@user.id), id: "new-workout-link" %>
</div>